<section class="content-header">
    <h1>
        Projects
    </h1>

    <ol class="breadcrumb">
        <li><a href="#!/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Projects</li>
    </ol>
</section>

<section class="alerts alerts-pagewide" ng-if="$ctrl.alerts.length != 0">
    <div uib-alert
         ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'info') + ' fade in'"
         close="$ctrl.closeAlert($index)">
        <strong>{{alert.title}}</strong>
        <p>{{alert.message}}</p>
    </div>
</section>

<section class="content">
    <div class="row">

    </div>
</section>